<!DOCTYPE html>
<html lang="en">
{% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#b3d7ff">
{##81d4fa" b3d7ff #}
<nav class="navbar navbar-expand-lg  >
  <a class="navbar-brand"  href=""> COURSERA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse bart" id="navbarSupportedContent" style="padding-left: 600px">
    <ul class="navbar-nav mr-auto " style="margin-left: -76px" >
      <li class="nav-item active mr-2">
        <a class="nav-link " href="one"><i class="fa fa-home" aria-hidden="true"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="course"><i class="fa fa-book" aria-hidden="true"></i>courses</a>
      </li>

      <li>

        <a class="nav-link" href="course#about"><i class="fa fa-info-circle" aria-hidden="true"></i>about</a>
      </li>
          <li>

        <a class="nav-link" href="one#register"><i class="fa fa-user" aria-hidden="true"></i>Register</a>
      </li>


          <li>

        <a class="nav-link" href="fpass"><i class="fa fa-cog" aria-hidden="true"></i>setting</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


</body>
</html>